body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}


h1 {
    font-size: 102px;
}

.hours {
    color: aquamarine;
}

.minutes {
    color: blueviolet;
}

.seconds {
    color: yellowgreen;
}